input[type=text] {
    width: 130px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in;
  }
  input[type=text]:focus {
    width: 100%;
  }